{% extends 'micro-linker/base.html' %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
    <div class="my-form shadow-for-block">
        <div class="form-control">
            <h1>Восстановление пароля:</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.errors }}
                <p class="form-floating mb-2">
                    {{ form.new_password1 }}
                    <label>Новый пароль</label>
                </p>
                {{ form.new_password2.errors }}
                <p class="form-floating mb-2">
                    {{ form.new_password2 }}
                    <label>Подтверждение нового пароля</label>
                </p>
                <button type="submit" class="form-control btn btn-success">Отправить</button>
            </form>
        </div>
    </div>
{% endblock %}